@font-face {
    font-family: robot;
    src: url(../font/robot-font.ttf);
}

@font-face {
    font-family: sign;
    src: url(../font/hard-sign.ttf);
}

.logo-brand {
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}

/* .skill-bar:hover{
    background-color: aqua;
} */

.div-profile {
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-sosmed {
    display: inline-flex;
    justify-content: center;
    padding-inline-start: 0px;
    width: inherit;
}

.img-sosmed {
    border-radius: 50%;
    display: inline-block;
    padding: 8px;
    border: 2px solid black;
}

.img-sosmed:hover {
    background-color: white;
}

.list-sosmed {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.text-skill {
    font-family: robot;
    font-size: 2em;
}

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel-indicators {
    top: 20px;
    position: relative;
}

/* .carousel{
    overflow: hidden;
} */

.carousel-indicators li {
    background-color: black;
    height: 30px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: red;
}

.carousel-control-next,
.carousel-control-prev {
    width: fit-content;
}

.description-skill {
    border: solid 2px black;
    padding: 10px;
    /* margin-right: 20px; */
}

.carousel-control-prev-icon {
    background-image: url("../img/previous-button.png");
}

.carousel-control-next-icon {
    background-image: url("../img/next-button.png");
}

.skill-bar-hover {
    background-color: blue;
}

.card-profile {
    padding: 0;
    border-radius: 10%;
    margin-right: auto;
}

.font-profile {
    font-size: 10pt;
    font-weight: bold;
}

.value {
    font-weight: normal;
}

p {
    margin-top: 16px;
}

.download-cv {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    background-color: red;
    top: 50px;
    left: -62px;
    font-size: 15pt;
    z-index: -1;
}

.download-cv:hover{
    left: -85px;
}